// basic typography rules
h1, h2, h3, h4, h5, h6{
	font-family: $sans;
}
h3, h4{
	font-weight: normal;
}
h3{
	// font-size: 1.4rem;
}
h1, h2 ,h3 {
	@include text-shadow;
}
h4, h5, h6{
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18)
}
p{
	font-size: 1rem;
	@media(min-width: 601px){
		font-size: 1rem;
	}
	@media(min-width:1400px){
		font-size: 1rem;
	}
}