// scroll down
.scrolldown{
	position: absolute;
    bottom: 0;
	top: auto;
	right: auto;
    margin-bottom: 16px;
    left: 50%;
	font-family: $sans;
	z-index: 2;
	background: transparent;
	@media (max-width:600px){
		display: none;
    	// margin-bottom: 40px;
	}
	a{
		margin-left: 0;
		position: relative;
		display: block;
		font-size: $text-small;
        font-family: $sans;
		line-height: 1;
		padding: 8px 8px;
		transition: 0.3s;
		color: transparentize($white,0.8);
		background: transparent;
		border: none;
        .txt{
            position: absolute;
            width: 200px;
            text-align: center;
            left: -100px;
            top: 0;
        }
		&:after{
			position: absolute;
			content: "";
			bottom: 30px;
			right: 0;
			height: 34px;
			width: 18px;
			margin-right: 9px;
			border-radius: 40px;
			border: 1px solid transparentize($white,0.8);
			background: transparent;
			transition: 0.3s;
		}
		&:before{
			position: absolute;
			content: "";
			bottom: 30px + 24px;
			right: 0;
			height: 4px;
			width: 4px;
			margin-right: 9px + 7px;
			border-radius: 40px;
			background: transparentize($white,0);
			transition: 0.3s;
		}
		&:hover{
			color: $white;
			&:before{
				bottom: 30px + 8px;
				background: $white;
			}
			&:after{
			}
		}
	}
	
}