// section list
.section-list{
    .item{
        margin-top: 40px;
        margin-bottom: 40px;
        &:first-child{
            margin-bottom: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        > .order-md-1{
            // padding-right: 40px;
            @media (min-width: $large-up) {
                padding-right: 40px;
            }
        }
        > .order-md-2{
            // padding-left: 40px;
            @media (min-width: $large-up) {
                padding-left: 40px;
            }
        }
    }
}

.section-twoside{
    .item{
        margin-top: 40px;
        margin-bottom: 40px;
        &:first-child{
            margin-bottom: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        > .order-md-1{
            @media (min-width: $large-up) {
                padding-right: 40px;
            }
        }
        > .order-md-2{
            @media (min-width: $large-up) {
                padding-left: 40px;
            }
        }
    }
}