.jumbotron-cover {
    background: none;
    margin-top: 0;
    margin-bottom: 0;
    .illustr{
        width: 100%;
        max-width: 360px;
    }
    hr {
        // position: absolute;
        width: 50%; // left: percentage(-1/2);
        margin: 0.25rem 0;
        border-top: 2px solid $primary;
    }
    ul {
        padding-left: 1rem;
        li {
            list-style: disc;
        }
        @each $color,
        $value in $theme-colors {
            @if $value==$white {
                &.list-white {
                    @include list-style($value);
                }
            }
            @else {
                &.list-#{""+$color} {
                    @include list-style($value);
                }
            }
        }
    }
}