// small card
// card small
.card-small{
    background: none;
    padding: 8px;
    border: none;
    color: $black;
    position: relative;
    transition: 0.3s;
    @media (min-width: $medium-up) {
        padding: 16px;
    }
    &:before {
        content: "";
        border-radius: 6px;
        background: $white;
        position: absolute;
        top: 16px;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        transition: 0.15s;
    }
    &.shadow:before {
        border: none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
    }
    &.shadow:hover:before {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 0 30px rgba(0, 0, 0, 0.2);
    }
    .card-img-top {
        margin-top: -16px;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
        }
    }
    .card-block {
        margin-top: 0.75rem;
        position: relative;
        max-height: 48px;
        // overflow: hidden;
        &.with-desc{
            max-height: 96px;
        }
        a{
            color: inherit;
            &:hover{
                text-decoration: none;
            }
        }
        h4,
        .card-title {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            max-height: 2.2em;
            overflow: hidden;
        }
        ul,
        p {
            // color: inherit;
            opacity: 0.75;
            font-size: 14px;
            max-height: 3em;
            overflow: hidden;
        }
    }
    .card-footer {
        border: none;
        padding: 0;
        background: none;
        position: relative;
        padding-top: 4px;
        p,
        .text {
            opacity: 0.75;
            font-size: 14px;
        }
        .btns {
            .icon-btn {
                padding-right: 0;
                padding-left: 4px;
                .icon {
                    font-size: 20px;
                }
            }
            .icon-btn.active {
                color: $primary;
                padding: 0;
            }
        }
        .text-left {
            padding-top: 4px;
            padding-left: 15px;
            padding-right: 0;
        }
        .text-right {
            padding-left: 0;
            padding-right: 15px;
        }
    }
    &:hover{
        &:before{
            top: 0;
        }
    }
    &.fullimage{
        padding: 0;
        padding-bottom: 8px;
        @media (min-width: $medium-up) {
            padding-bottom: 16px;
        }
        &:before{
            top: 0;
        }
        .card-img-top{
            border-radius: 6px 6px 0 0;
            margin-top: 0;
        }
        .card-block{
            padding-left: 8px;
            padding-right: 8px;
            @media (min-width: $medium-up) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
        .card-footer{
            padding-left: 8px;
            padding-right: 8px;
            @media (min-width: $medium-up) {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
    }
    &.minimal{
        border-radius: 4px;
        padding: 0;
        &:before{
            border-radius: 4px;
        }
        &.fullimage .card-img-top {
            border-radius: 4px 4px 0 0;
        }
        .card-block{
            margin: 0;
            padding: 4px;
            h4{
                margin: 0;
                font-size: 0.75rem;
            }
            p{
                margin: 0;
                font-size: 0.75rem;
            }
        }
        .card-footer{
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 0.75rem;
        }
    }
}

// mixin
// card small
@mixin card-small($textColor: $black, $bgColor: $white, $iconActiveColor: $primary) {
    color: $textColor;
    &:before {
        background: $bgColor;
    }
    .card-footer {
        .btns {
            .icon-btn.active {
                color: $iconActiveColor;
            }
        }
    }
}

// alternative layout
@each $color,
$value in $theme-colors {
    @if $value==$white {
        .card-small.card-white {
            // here $value = $white 
            @include card-small()
        }
    }
    @else {
        .card-small.card-#{""+$color} {
            @include card-small($white, $value)
        }
    }
}