.img-frames-alpha{
    position: relative;
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-wrap: wrap;
    img{
        width: 100%;
        height: auto;
    }
    .img-1{
        width: 100%;
        position: relative;
        flex: 0 0 100%;
    }
    .img-2{
        width: 50%;
        position: relative;
        flex: 0 0 50%;
    }
    .img-3{
        width: 50%;
        position: relative;
        flex: 0 0 50%;
    }
    .img-4{
        width: 100%;
        position: relative;
        flex: 0 0 100%;
    }
    &.spaced{
        .img-2{
            padding-top: 8px;
            padding-right: 4px;
        }
        .img-3{
            padding-top: 8px;
            padding-left: 4px;
        }
    }
}