.section-title {
    max-width: 512px;
    margin: 0 auto;
    margin-bottom: 16px;
    @media (min-width: $medium-up) {
        margin-bottom: 32px;
    }
    &.title-large{
        max-width: 900px;
    }
    .title-icon{
        text-align: center;
        .icon{
            display: inline-block;
            font-size: 64px;
            line-height: 1;
            .icon-img{
                width: 48px;
                height: 48px;
            }
        }
    }
}