

.cta-icon {
    background: none;
    background: none;
    border: none;
    box-shadow: none;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: currentColor;
    .icon {
        // font-size: 3.5rem;
        height: 80px;
        width: 80px;
        background: currentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        transition: 0.3s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
        border-radius: 80px;
        position: relative;
        .fix-center{
            width: 0.6em;
        }
        &.ring:before{
            position: absolute;
            left: -8px;
            right: -8px;
            top: -8px;
            bottom: -8px;
            content: "";
            border: 2px solid currentColor;
            opacity: 0.2;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
            border-radius: 200px;
            transition: 0.3s;
        }
    }
    &:focus,
    &:active,
    &:hover {
        background: none;
        border: none;
        box-shadow: none;
        color: currentColor;
        .icon{
            opacity: 0.8;
            box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.25);
            &.ring:before{
                border-width: 8px;
                box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }
    .text{
        text-align: center;
    }
}
// @mixin cta-btn($color, $hoverColor) {
//     color: $color;
//     &:hover {
//         color: $hoverColor;
//     }
// }

// @each $color, $value in $theme-colors {
//     @if $value == $white {
//       .cta-btn.cta-btn-white {
//         @include cta-btn($value, transparentize($value, 0.5));
//       }
//     } @else {
//       .cta-btn.cta-btn-#{""+$color}{
//         @include cta-btn($value, transparentize($value, 0.5));
//       }
//     }
//   }