/* 
---------------------------------------------
features
--------------------------------------------- 
*/

.features-small-item {
	display: block;
	background: #fff;
	box-shadow: 0 2px 48px 0 rgba(0,0,0,0.06);
	border-radius: 5px;
	padding: 40px 28px;
	text-align: center;
	@include transition(.3s);
	position: relative;
	z-index: 2;
	margin-bottom: 30px;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		border-radius: 5px;
		background-image: linear-gradient(135deg, $gradientDark 0%, $gradientLight 100%);
		@include transition(.3s);
		opacity: 0;
	}

	&.active, &:hover {
		&:before {
			opacity: 1;
		}

		.icon {
			&:before {
				opacity: .26;
			}

			i {
				background: -webkit-linear-gradient(#fff, #fff);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.features-title {
			color: $headingLight;
		}

		p {
			color: $textLight;
		}

		.button {

			i {
				background-image: linear-gradient(135deg, #fff 0%, #fff 100%) !important;
				color: $primaryColor !important;
			}
		}
	}

	&:hover {
		margin-top: -15px;
	}

	.icon {
		width: 139px;
		height: 113px;
		margin: auto;
		position: relative;
		margin-bottom: 20px;
		@include transition(.3s);

		&:before {
			content: '';
			position: absolute;
			width: 139px;
			height: 113px;
			left: 0px;
			top: 0px;
			background: url(../images/features-bg.svg) center center no-repeat;
			@include transition(.3s);
		}

		i {
			display: block;
			height: 67px;
			line-height: 67px;
			position: absolute;
			width: 100%;
			top: 22px;
			z-index: 2;
			font-size: 28px;
			background: -webkit-linear-gradient($gradientDark, $gradientLight);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			@include transition(.3s);
		}
	}

	.features-title {
		@include font($normal, 16px);
		color: $headingDark;
		letter-spacing: 0.7px;
		margin-bottom: 15px;
		position: relative;
		z-index: 2;
		@include transition(.3s);
	}

	p {
		@include font($normal, 14px);
		color: $textDark;
		letter-spacing: 0.88px;
		line-height: 26px;
		position: relative;
		z-index: 2;
		@include transition(.3s);
		margin-bottom: 30px;
	}

	.button {
		position: relative;
		z-index: 2;

		i {
			width: 42px;
			height: 42px;
			background-image: linear-gradient(135deg, $gradientDark 0%, $gradientLight 100%);
			line-height: 42px;
			text-align: center;
			@include radius(100px);
			color: #fff;
			padding-left: 3px;
		}
	}
}

.features-small-item:hover + .item-bg {
	bottom: 30px;
}

.item-bg {
	content: '';
	position: absolute;
	width: 80%;
	height: 15px;
	bottom: 15px;
	left: 0px;
	right: 0px;
	margin: auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 1;
	background: #fff;
	box-shadow: 0 2px 48px 0 rgba(0,0,0,0.06);
	@include transition(.3s);
}

