// animation

.carousel-swiper-hash,
.carousel-swiper-alpha{
    .swiper-slide{
        .anim{
            transition: 0.3s;
        }
    }
    // fadein-left
    .anim.fadein-left{
        transition: 0.3s;
        opacity: 0;
        transform: translateX(64px);
    }
    .swiper-slide-active{
        .anim.fadein-left{
            opacity: 1;
            transform: none;
        }
    }
    // fadein-right
    .anim.fadein-right{
        transition: 0.3s;
        opacity: 0;
        transform: translateX(-64px);
    }
    .swiper-slide-active{
        .anim.fadein-right{
            opacity: 1;
            transform: none;
        }
    }
    // fadein-top
    .anim.fadein-top{
        transition: 0.3s;
        opacity: 0;
        transform: translateY(64px);
    }
    .swiper-slide-active{
        .anim.fadein-top{
            opacity: 1;
            transform: none;
        }
    }
    // fadein-bottom
    .anim.fadein-bottom{
        transition: 0.3s;
        opacity: 0;
        transform: translateY(-64px);
    }
    .swiper-slide-active{
        .anim.fadein-bottom{
            opacity: 1;
            transform: none;
        }
    }
}
.swiper-slide-active{
    .anim.td-1{
        transition-delay: 0.1s !important;
    }
    .anim.td-2{
        transition-delay: 0.2s !important;
    }
    .anim.td-3{
        transition-delay: 0.3s !important;
    }
    .anim.td-4{
        transition-delay: 0.4s !important;
    }
    .anim.td-5{
        transition-delay: 0.5s !important;
    }
    .anim.td-6{
        transition-delay: 0.6s !important;
    }
    .anim.td-7{
        transition-delay: 0.7s !important;
    }
}