@import "variables";
$blue: #037FD5;
$green: #2ED662;

/* page bg */

.page-bg {
    background: $gradient-blue;
}


/* sections bg */
.landing-home {
    // background: rgba($secondary, 0.2);
    background: url('../img/bg-wave.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.landing-highlight-features {
    background: url('../img/bg-wave-sym.png'), $gradient-blue;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.landing-cta {
    background: url('../img/bg-wave-sym.png'), $gradient-blue;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}


/* page header */
.page-header-alpha.scrolled.scrolled-white .navbar-topmenu:after {
    @media (min-width: 768px) {
        background: $gradient-blue;
    }
}

.page-header-alpha.scrolled.scrolled-white .btn-outline-white {
    @media (min-width: 768px) {
        color: $blue;
    }
}
.page-header-alpha.scrolled .navbar-topmenu .navbar-nav-menu .nav-item.active a{
    @media (min-width: 768px) {
        color: $blue;
    }
}

/* typo */
.text-primary {
    color: $blue !important;
}

.text-gradient-primary {
    background: $gradient-blue;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}
.text-gradient-secondary {
    background: $gradient-aqua;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

a {
    color: $blue;
    &:hover {
        color: adjust-hue($blue, 20);
    }
}


/* buttons */
.btn-primary {
    background: $blue;
    &:hover {
        background: adjust-hue($blue, 20);
        border-color: adjust-hue($blue, 20);
    }
}

.btn-secondary {
    background: $green;
    &:hover {
        background: adjust-hue($green, 20);
        border-color: adjust-hue($green, 20);
    }
}

.bg-gradient-primary {
    background: $gradient-aqua;
    &:hover {
        background: $gradient-aqua;
        opacity: 0.8;
    }
}

.btn-outline-primary {
    color: $blue;
    border-color: $blue;
    &:hover {
        color: adjust-hue($blue, 20);
        border-color: adjust-hue($blue, 20);
    }
}

.btn-icon.btn-white {
    color: $blue;
}

.btn-icon.btn-white .icon {
    color: $blue;
}

.btn-icon.btn-white.icon-left .icon {
    border-color: $blue;
}

.btn-icon.btn-white.active,
.btn-icon.btn-white:active,
.btn-icon.btn-white:hover {
    color: $green;
}

.btn-icon.btn-white .icon:before {
    background: $green;
}


/* page content */

.section.bg-bright .section-title h2 {
    color: $blue;
}

.section-content h2.border-primary:before,
.section-content h3.border-primary:before,
.section-content h4.border-primary:before,
.section-content h5.border-primary:before,
.section-content p.border-primary:before {
    border-color: $blue;
}

.section-content ul.list-primary>li:before {
    color: $blue;
}

.footer.footer-alpha .footer-nav .navbar-nav a:hover {
    color: adjust-hue($blue, 20);
}


/* slider */

.carousel-swiper-hash .items-pagination .swiper-pagination-bullet-active {
    background: $gradient-aqua;
}

.carousel-swiper-review .items-pagination .swiper-pagination-bullet-active {
    background: $blue;
}


/* price list */


/* primary */

.price-item-alpha.price-item-primary .item-price {
    background: $blue;
}

.price-item-alpha.price-item-primary .item-features li.ok .icon,
.price-item-alpha.price-item-primary .item-name {
    color: $blue;
}


/* secondary */

.price-item-alpha.price-item-secondary .item-price {
    background: $green;
}

.price-item-alpha.price-item-secondary .item-features li.ok .icon,
.price-item-alpha.price-item-secondary .item-name {
    color: $green;
}


/* featured */

.price-item-alpha.price-item-primary.featured {
    background: $blue;
}

.price-item-alpha.price-item-primary.featured .item-price {
    color: $blue;
}