.img-frame-legend-alpha{
    position: relative;
    padding-left: 32px;
    @media (min-width: $medium-up) {
        padding: 0;
    }
    img{
        width: 100%;
        height: auto;
    }
    &.portrait{
        .img-1{
            max-width: 320px;
        }
    }
    .img-1{
        width: 100%;
        max-width: 420px;
        position: relative;
        z-index: 0;
        img{
            position: relative;
            z-index: 1;
        }
        &.shadow{
            @include shadow-large(0.3);
        }
    }
    .legend{
        position: absolute;
        text-align: left;
        top: 24px;
        left: -0;
        width: 100%;
        z-index: 1;
        @media (min-width: $medium-up) {
            left: -72px;
            top: 32px;
        }
    }
    
    &.legend-bottom{
        .legend{
            bottom: 24px;
            top: auto;
            @media (min-width: $medium-up) {
                bottom: 32px;
            }
        }
    }
    &.legend-right{
        padding-left: 0;
        padding-right: 32px;
        .legend{
            text-align: right;
            left: auto;
            right: -0;
            @media (min-width: $medium-up) {
                right: -72px;
            }
        }
    }
    &.legend-center{
        .legend{
            text-align: center;
            left: -72px;
            right: -72px;
            top: 50%;
            width: auto;
            transform: translateY(-50%);
        }
    }
}