.img-circle-alpha{
    position: relative;
    $imgW: 300px;
    $thickness: 12px;
    .img{
        width: 100%;
        max-width: $imgW;
        border-radius: $imgW;
        position: relative;
        img{
            width: 100%;
            height: auto;
            position: relative;
            border-radius: $imgW;
            z-index: 1;
        }
    }
    &.shadow{
        .img{
            @include shadow-large;
        }
    }
}