//aire-colors
$aire-color-red-50: #ffebee;
$aire-color-red-100: #ffcdd2;
$aire-color-red-200: #ef9a9a;
$aire-color-red-300: #e57373;
$aire-color-red-400: #ef5350;
$aire-color-red-500: #f44336;
$aire-color-red-600: #e53935;
$aire-color-red-700: #d32f2f;
$aire-color-red-800: #c62828;
$aire-color-red-900: #b71c1c;
$aire-color-red-a100: #ff8a80;
$aire-color-red-a200: #ff5252;
$aire-color-red-a400: #ff1744;
$aire-color-red-a700: #d50000;

$aire-color-teal-25: #f7fbfb;
$aire-color-teal-50: #e0f2f1;
$aire-color-teal-100: #b2dfdb;
$aire-color-teal-200: #80cbc4;
$aire-color-teal-300: #4db6ac;
$aire-color-teal-400: #26a69a;
$aire-color-teal-500: #009688;
$aire-color-teal-600: #00897b;
$aire-color-teal-700: #00796b;
$aire-color-teal-800: #00695c;
$aire-color-teal-900: #004d40;
$aire-color-teal-a100: #a7ffeb;
$aire-color-teal-a200: #64ffda;
$aire-color-teal-a400: #1de9b6;
$aire-color-teal-a700: #00bfa5;

$aire-color-indigo-50: #e8eaf6;
$aire-color-indigo-100: #c5cae9;
$aire-color-indigo-200: #9fa8da;
$aire-color-indigo-300: #7986cb;
$aire-color-indigo-400: #5c6bc0;
$aire-color-indigo-500: #3f51b5;
$aire-color-indigo-600: #3949ab;
$aire-color-indigo-700: #303f9f;
$aire-color-indigo-800: #283593;
$aire-color-indigo-900: #1a237e;
$aire-color-indigo-a100: #8c9eff;
$aire-color-indigo-a200: #536dfe;
$aire-color-indigo-a400: #3d5afe;
$aire-color-indigo-a700: #304ffe;

$aire-color-amber-50: #fff8e1;
$aire-color-amber-100: #ffecb3;
$aire-color-amber-200: #ffe082;
$aire-color-amber-300: #ffd54f;
$aire-color-amber-400: #ffca28;
$aire-color-amber-500: #ffc107;
$aire-color-amber-600: #ffb300;
$aire-color-amber-700: #ffa000;
$aire-color-amber-800: #ff8f00;
$aire-color-amber-900: #ff6f00;
$aire-color-amber-a100: #ffe57f;
$aire-color-amber-a200: #ffd740;
$aire-color-amber-a400: #ffc400;
$aire-color-amber-a700: #ffab00;

$aire-color-blue-grey-25: #f5f7f8;
$aire-color-blue-grey-50: #eceff1;
$aire-color-blue-grey-100: #cfd8dc;
$aire-color-blue-grey-200: #b0bec5;
$aire-color-blue-grey-300: #90a4ae;
$aire-color-blue-grey-400: #78909c;
$aire-color-blue-grey-500: #607d8b;
$aire-color-blue-grey-600: #546e7a;
$aire-color-blue-grey-700: #455a64;
$aire-color-blue-grey-800: #37474f;
$aire-color-blue-grey-900: #263238;


// colors
$primary: $aire-color-indigo-500;
$secondary:  $aire-color-amber-300;
$blue: #3f4b62;
$green: #569728;
$cyan: #17a2b8;
$yellow: #ffc107;
$red: #dc3545;

// white
$white : #ffffff;

// black
$black : #1d1d1d;
$light-black : #2d2d2d;
$medium-black : $black;
$dark-black : #0d0d0d;

// gray
$gray: #8b8b8b;
// $white-gray: #f8f9fa;
$white-gray: #f1f2f7;
$light-gray: #e1e1e1;
$medium-gray: $gray;
$dark-gray: #505050;


$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $green,
  danger: $red,
  white: $white,
);

$bg-colors: (
  primary: $primary,
  secondary: $secondary,
  light-gray: $light-gray,
  white-gray: $white-gray,
  white: $white,
  black: $black,
);

$theme-color-interval: 8% !default;

// gradients
$gradient-primary: linear-gradient(#{"to left"}, $primary, ($primary +0.25* $yellow) );
$gradient-secondary: linear-gradient(#{"to left"}, $secondary, ($secondary +0.4* $primary) );
$gradient-purple: linear-gradient(#{"to left"}, $aire-color-indigo-700, $aire-color-indigo-300);
$gradient-blue: linear-gradient(#{"to left"}, #037FD5, adjust-hue(#037FD5, -20));
$gradient-bluered: linear-gradient(#{"to left"}, #037FD5, #dc3545);
$gradient-aqua: linear-gradient(#{"to left"}, #037FD5, #2ED662);
$gradient-green: linear-gradient(#{"to left"}, #2ED662, #FFDA2E);
$gradient-orange: linear-gradient(#{"to left"}, $aire-color-amber-300, $aire-color-amber-500);
$gradient-red: linear-gradient(#{"to left"}, #dc3545, #FF9947);
$gradient-black: linear-gradient(#{"to left"}, $black, lighten($black, 20) );

// fonts
// sans
$sans-serif : 
  "Open Sans" , "Roboto" ,"Helvetica",
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  sans-serif;
$sans : $sans-serif;

// serif
$serif : "Playfair Display" , serif;
$serif-article : "Times New Roman" , serif;

// condensed
$condensed :  $sans;

// geometric
$geo :  "Montserrat", "Open Sans" ,sans-serif;
$code: Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// size
$text-size : 1rem;
$text-small : 0.75rem;
$text-medium : 1rem;
$text-large : 1.5rem;
$text-xlarge : 2rem;
$text-xxlarge : 3rem;
$text-xxxlarge : 4rem;
$text-xxxxlarge : 6rem;

// device breakpoint size
$small-up: 576px;
$medium-up: 768px;
$large-up: 992px;
$xlarge-up: 1200px;
$xxlarge-up: 1600px;