@import "variables";
$color1: #dc3545;
$color2: #FF9947;

/* page bg */

.page-bg {
    z-index: -1;
    background: $black;
}


/* sections bg */
.landing-home {
    background: url('../img/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    &:before{
        position: absolute;
        z-index: 0;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
    }
}

.landing-highhlight-features {
    background: url('../img/bg-img2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    &:before{
        position: absolute;
        z-index: 0;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:  linear-gradient(#{"to bottom"},
         rgba(#09070B, 0.7),
         rgba(#dc3545, 0.4));
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.landing-reviews {
    background: url('../img/bg-img3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    &:before{
        position: absolute;
        z-index: 0;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:  linear-gradient(#{"to bottom"}, 
        rgba(#dc3545, 0.7), 
        rgba(#381a31, 0.7));
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.landing-cta {
    background: url('../img/bg-img4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    &:before{
        position: absolute;
        z-index: 0;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:  linear-gradient(#{"to bottom"},
         rgba($color1, 0.2),
          rgba($color2, 0.2));
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}


/* page header */
.page-header-alpha.scrolled.scrolled-white .navbar-topmenu:after {
    @media (min-width: 768px) {
        background: $gradient-red;
    }
}

.page-header-alpha.scrolled.scrolled-white .btn-outline-white {
    @media (min-width: 768px) {
        color: $color1;
    }
}
.page-header-alpha.scrolled .navbar-topmenu .navbar-nav-menu .nav-item.active a{
    @media (min-width: 768px) {
        color: $color1;
    }
}

/* typo */
.text-primary {
    color: $color1 !important;
}

.text-gradient-primary {
    background: $gradient-red;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

a {
    color: $color1;
    &:hover {
        color: adjust-hue($color1, 20);
    }
}


/* buttons */
.btn-primary {
    background: $color1;
    &:hover {
        background: adjust-hue($color1, 20);
        border-color: adjust-hue($color1, 20);
    }
}

.btn-secondary {
    background: $color2;
    &:hover {
        background: adjust-hue($color2, 20);
        border-color: adjust-hue($color2, 20);
    }
}

.bg-gradient-primary {
    background: $gradient-red;
    &:hover {
        background: $gradient-red;
        opacity: 0.8;
    }
}

.btn-outline-primary {
    color: $color1;
    border-color: $color1;
    &:hover {
        color: adjust-hue($color1, 20);
        border-color: adjust-hue($color1, 20);
    }
}

.btn-icon.btn-white {
    color: $color1;
}

.btn-icon.btn-white .icon {
    color: $color1;
}

.btn-icon.btn-white.icon-left .icon {
    border-color: $color1;
}

.btn-icon.btn-white.active,
.btn-icon.btn-white:active,
.btn-icon.btn-white:hover {
    color: $color2;
}

.btn-icon.btn-white .icon:before {
    background: $color2;
}


/* page content */

.section.bg-bright .section-title h2 {
    color: $color1;
}

.section-content h2.border-primary:before,
.section-content h3.border-primary:before,
.section-content h4.border-primary:before,
.section-content h5.border-primary:before,
.section-content p.border-primary:before {
    border-color: $color1;
}

.section-content ul.list-primary>li:before {
    color: $color1;
}

.footer.footer-alpha .footer-nav .navbar-nav a:hover {
    color: adjust-hue($color1, 20);
}


/* slider */

.carousel-swiper-hash .items-pagination .swiper-pagination-bullet-active {
    background: $gradient-red;
}

.carousel-swiper-review .items-pagination .swiper-pagination-bullet-active {
    background: $color1;
}


/* price list */


/* primary */

.price-item-alpha.price-item-primary .item-price {
    background: $color1;
}

.price-item-alpha.price-item-primary .item-features li.ok .icon,
.price-item-alpha.price-item-primary .item-name {
    color: $color1;
}


/* secondary */

.price-item-alpha.price-item-secondary .item-price {
    background: $color2;
}

.price-item-alpha.price-item-secondary .item-features li.ok .icon,
.price-item-alpha.price-item-secondary .item-name {
    color: $color2;
}


/* featured */

.price-item-alpha.price-item-primary.featured {
    background: $color1;
}

.price-item-alpha.price-item-primary.featured .item-price {
    color: $color1;
}