// available class :
//  no-menu-icon : hide menu icon on large devices
//  topmenu-left : top menu at left and logo at right
//  menu-right / menu-left : menu icon position
.dashboard-page-header {
    .navbar{
        background: $white;
        // padding: 8px 24px;
        padding: 8px 8px;
        height: 64px;
        color: $black;
        &.shadow{
            // box-shadow: 0 0 20px rgba(0,0,0,0.15);
            box-shadow: 2px 0 8px rgba(0, 0, 0, 0.25);
        }
    }
    &.menu-right {
    }
    &.topmenu-right {
        
    }
    &.no-menu-icon {
        .navbar-toggler {
            @media (min-width: $medium-up) {
                display: none;
                visibility: hidden;
            }
        }
        .navbar-brand {
            @media (min-width: $medium-up) {
                left: 64px;
            }
        }
    } // menu icon
    .navbar-toggler {
        margin-left: -12px;
        // margin-right: 8px;
        display: block;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        .menu-icon .bars {
            .bar1,
            .bar2,
            .bar3 {
                background: $black;
            }
        }
    } 
    // brand logo
    .navbar-brand {
        display: flex;
        flex-direction: row;
        padding: 0;
        color: currentColor;
        margin-right: 0;
        .logo {
            img {
                height: 40px;
                width: auto;
                @media (min-width: $medium-up) {
                    height: 48px;
                }
            }
        }
        .text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: currentColor;
            font-size: $text-size;
            margin-left: 8px;
            margin-right: 8px;
            .line {
                display: block;
                &.sub {
                    font-size: $text-small;
                }
            }
        }
    }
    // menu
    .navbar-menu{
        flex-grow: 1;
        // nav item color
        .nav-item{
            position: relative;
            &:before{
                position: absolute;
                content: "";
                left: 0;
                width: 100%;
                height: 2px;
                bottom: -12px;
                border-bottom: 2px solid transparent
            }
            .nav-link{
                color: transparentize($black, 0.2);
                display: inline-flex;
                align-items: center;
                font-weight: 500;
            }
            &.active{
                color: $primary;
                // font-weight: bold;
                .nav-link{
                    color: $black;
                }
                .icon{
                    color: $primary;
                }
                &:before{
                    border-color: $primary;
                }
            }
            &:hover{
                .nav-link{
                    color: $primary;
                }
                .icon{
                    color: $primary;
                }
                // &:before{
                //     border-color: $primary;
                // }
            }
            .icon{
                font-size: 1.25rem;
                line-height: 0.5rem;
                display: inline-block;
                // vertical-align: middle;
                margin-right: 0.25rem;
                // color: $gray;
                color: transparentize($black, 0.5);
            }
        }
    }
    // actions buttons
    .navbar-actions{
        .nav-item{
            margin: 0 4px;
        }
    }
    // icons buttons
    .navbar-icons{
        .nav-item{
            margin: 0 4px;
            position: relative;
            .nav-link{
                color: currentColor;
                &:hover{
                    opacity: 0.7;
                }
            }
            &.active{
                color: $primary
            }
        }
        .icon{
            font-size: 24px;
        }
        .icon-label{
            font-size: 12px;
            padding: 2px;
            border-radius: 20px;
            background: $black;
            color: $white;
            top: 0em;
            right: -0.5em;
            position: absolute;
            display: inline-block;
            min-width: 24px;
            min-height: 24px;
            text-align: center;
        }
    }
}


// alternative colors
@each $color,
$value in $theme-colors {
    @if $value==$white {
        .dashboard-page-header.header-#{""+$color} {
            color: $black;
            background: $value;
        }
    }
    @else {
        .dashboard-page-header.header-#{""+$color} {
        }
    }
}