.jumbotron-solid {
    background: none;
    margin-top: 0;
    margin-bottom: 0;
    &.text-black {
        color: $black;
    }
    &.text-white {
        color: $white;
    }
    .illustr {
        width: 100%;
        max-width: 360px;
    }
    .container,
    .wrapper {
        hr {
            // position: absolute;
            color: inherit;
            width: 100%; // left: percentage(-1/2);
            margin: 1rem 0;
            border-top: 2px solid currentColor;
            opacity: 0.5;
            &:after,
            &:before{
                display: none;
            }
        }
        p {}
        ul {
            padding-left: 1rem;
            li {
                list-style: disc;
            }
            @each $color,
            $value in $theme-colors {
                @if $value==$white {
                    &.list-white {
                        @include list-style($value);
                    }
                }
                @else {
                    &.list-#{""+$color} {
                        @include list-style($value);
                    }
                }
            }
        }
    }
}