
// card with outline border and white bg

// default layout
.card-outline{
    border: 2px solid $primary;
    padding: 8px;
    background: transparent;
    &.no-border {
        padding: 0;
        border: none;
        .card-footer {
            padding-bottom: 0.75rem;
        }
    }
    &.border-white {
        border-color: $white;
        .card-footer {
            border-color: $white;
        }
    }
    &.card-colored{
        background: $primary;
        .card-block {
        color: $white;
            p,
            ul,
            h4{
                color: $white;
            }
        }
        .card-footer{
            border-top-color: $white;
        }
        .price{
            color: $white;
        }
    }
    &.bg-white{
        background: $white;
        .card-block {
        color: $black;
            p,
            ul,
            h4{
                color: $black;
            }
        }
    }
    .card-img-top {
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
        }
        .caption {
            position: absolute;
            top: 16px;
            left: 16px;
            right: 16px;
            color: $white;
            font-weight: bold;
            .c-top-left {
                display: block;
                float: left;
            }
            .c-top-right {
                display: block;
                float: right;
            }
            .c-round {
                background: $primary;
                color: white;
                min-width: 56px;
                min-height: 56px;
                border-radius: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
                text-align: center;
                line-height: 1;
            }
        }
    }
    .price {
        color: $primary;
        // font-family: $condensed;
        font-size: $text-xlarge;
        line-height: 1;
    }
    .card-block {
        padding: 1rem;
        background: transparent;
        color: $white;
        p,
        ul {
            // color: $white;
            .text-muted {
                color: inherit !important;
                opacity: 0.75;
            }
        }
        h4,
        .card-title {
            // font-family: $condensed;
            font-size: $text-xlarge;
            color: $white;
            .highlight,
            .strong {
                color: $primary;
            }
        }
    }
    .card-footer {
        background: transparent;
        border-top: 2px solid $primary;
        padding-bottom: 0.25rem;
    }
}

// mixin
@mixin card-outline($color, $textColor: $black, $titleColor: $black, $bg: white, $footerBg: rgba(0, 0, 0, 0.04)) {
    border: 2px solid $color;
    background: $bg;
    &.card-colored{
        background: $color;
        .card-footer{
            border-top-color: $white;
        }
        .price{
            color: $white;
        }
    }
    .card-img-top {
        .caption {
            .c-round {
                background: $color;
                @if $color==white {
                    color: $titleColor;
                }
                @else {
                    color: white;
                }
            }
        }
    }
    .price {
        color: $color;
    }
    .card-block {
        color: $textColor;
        .card-title {
            color: $titleColor;
            .highlight,
            .strong {
                color: $color;
            }
        }
    }
    .card-footer {
        border-top: 2px solid $color;
    }
}

// alternative layout
@each $color,
$value in $theme-colors {
    @if $value==$white {
        .card-outline.card-white {
            // here $value = $white 
            @include card-outline($white, $white, $primary, transparent)
        }
    }
    @else {
        .card-outline.card-#{""+$color} {
            @include card-outline($value, $white, $white, transparent)
        }
    }
}