.img-avatar-gamma{
    position: relative;
    $imgW: 300px;
    $thickness: 12px;
    padding: $thickness *2;
    .img{
        width: 100%;
        max-width: $imgW;
        border-radius: $imgW;
        border: $thickness solid $primary;
        position: relative;
        img{
            width: 100%;
            height: auto;
            position: relative;
            border-radius: $imgW;
            z-index: 1;
        }
        &:before{
            content: "";
            position: absolute;
            z-index: 0;
            border-radius: 400px;
            top: -$thickness*2;
            left: -$thickness*2;
            right: -$thickness*2;
            bottom: -$thickness*2;
            background: transparentize($primary, 0.8);
        }
        &:after{
            content: "";
            position: absolute;
            z-index: 0;
            border-radius: 400px;
            top: -$thickness*3;
            left: -$thickness*3;
            right: -$thickness*3;
            bottom: -$thickness*3;
            background: transparentize($primary, 0.9);
        }
    }
}

// mixin
@mixin img-avatar-gamma($color) {
    .img{
        border-color: $color;
        &:before{
            background: transparentize($color, 0.8);
        }
        &:after{
            background: transparentize($color, 0.9);
        }
    }
}

// alternative colors
@each $color, $value in $theme-colors {
.img-avatar-gamma.img-#{""+$color} {
    @include img-avatar-gamma($value);
    }
}