.carousel-swiper-hash{
    position: relative;
    .swiper-wrapper{
        padding: 0;
    }
    .slide-item{
        display: block;
        box-sizing: border-box;
    }
    // slider pagination
    .items-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
        margin-bottom: 18px;
        padding-bottom: 32px;
        flex-wrap: wrap;
        @media (min-width: $medium-up) {
            padding-bottom: 0;
        }
        .swiper-pagination-bullet{
            width: auto;
            border-radius: 40px;
            transition: 0.3s;
            margin: 0 4px;
            display: inline-block;
            background: none;
            height: auto;
            padding: 0.75rem 1.5rem;
            cursor: pointer;
            min-height: 46px;
            line-height: 1.2;
            opacity: 1;
            &:hover{
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
            }
        }
        .swiper-pagination-bullet-active{
            opacity: 1;
            background: $primary;
            color: $white;
            box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2);
            &:hover{
                box-shadow: 0 2px 24px rgba(0, 0, 0, 0.2);
            }
        }
    }
    .items-pagination.bar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
        margin-bottom: 18px;
        .swiper-pagination-bullet{
            border-radius: 0;
            width: 32px;
            opacity: 0.5;
            margin-left: 0;
            margin-right: 0;
            @media (min-width: $medium-up) {
                width: 40px;
            }
        }
        .swiper-pagination-bullet-active{
            opacity: 1;
            transform: none;
        }
    }
    
    // button nav
    .items-button{
        position: absolute;
        top: 50%;
        z-index: 1;
        margin-top: -22px; // considering pagination
        transform: translate(0, -50%);
        &.items-button-prev{
            left: 0;
            @media (min-width: $medium-up) {
                &.fit{
                    left: 25%;
                }
            }
        }
        
        &.items-button-next{
            right: 0;
            @media (min-width: $medium-up) {
                &.fit{
                    right: 25%;
                }
            }
        }
        &.bottom{
            bottom: -20px;
            top: auto;
            transform: none;
            margin-top: 0;
        }
        &.top{
            top: 0;
            transform: none;
            margin-top: 0;
        }
    }
}