
.menu {
  $height:2.25em;
  height:$height;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }

  ul li {
    display: inline-block;
    padding-left:0 !important;
    width:50px;
    
  }

  a {
    transition: background-color .4s ease-in-out,
    font-weight 0.4s ease-in-out;
    line-height: $height; 
    height: $height;
    padding: 0 10px;
    display: block;
    color: $header_text;
    text-decoration: none;
    border-bottom: none;
    span {
      font-size:16px;
    }
    img {
      vertical-align:middle;
      width:24px;
      height:24px;
    }
  }

  a:hover {
    background-color: rgba(red($body), green($body), blue($body), 0.5);
  }

  ul ul {
    display: none;
    position: absolute;
    top: $height;
  }

  ul li:hover > ul {
    display: inherit;
  }

  ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
  }

  ul ul ul li {
    position: relative;
    top: -$height;
    left: 170px;
  }

}
